body {
  text-align: center;
  color: #001a09;
}
#calculator {
    border: 2px solid #004d1a;
     border-radius: 10px;
    width: 170px;
    margin: auto;
    height:250px;
    background-color: #001a09;
}

button{
  height: 30px;
  width: 30px;
  margin: 4px 2px 4px 2px;
  color: #001a09;
  background-color: #ccffdd;
  border-radius: 10px;

}

#answer{
  text-align: right;
  padding-right:2px;
  border: 2px solid #001a09;
  height: 25px;
  width: 145px;
  margin: 10px auto 10px auto;
  background-color: #ccffdd;
}

button:last-child {
  width:140px;
}
